
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

p {
    width: 75%;
    text-align: auto ;
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
    border-radius: 28px;
}
h1, h2, h3 {
    width: 75%;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    color: rgb(100, 7, 72);
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    border-radius: 28px;
}
ul {
    width: 75%;
    font-weight: 300;
    font-size: 15px;
    padding: 20px;
    color: rgb(31, 4, 56);
    background-color: bisque;
    font-family: 'Roboto', sans-serif;
    border-radius: 28px;
}
.wildberries {
    width: 500px;
    border-radius: 28px;
}
li {
    font-size: 14px;
    font-style: italic;
    flex-direction: initial;
    font-family: 'Roboto', sans-serif;
}

